body{
    background-image: url("img\\RUSIK.png");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 70;
    height: auto;
    aspect-ratio: 1/1;
    margin: 10;
}

.track audio {
    position: absolute;
    top: 90%;
    width: 45%;
}
